<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="/css/stylePages.css"> -->
        <link rel="stylesheet" href="/css/addJuice.css">
         <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
         <%- include('../includes/pageTitle.ejs') %>

    </head>
<body class="addJuice">
    
    <div class="container ">        

        <div class="change nav-wrapper">
        
            <nav class="top-nav">
                <ul class="nav-list">
                    <li>
                        <a href="/" class="nav-link" data-text="Home">Home</a>
                    </li>
                    <li>
                        <a href="/health" class="nav-link " data-text="Health">Health</a>
                    </li>
                    <li>
                        <a href="/weightloss" class="nav-link " data-text="WeightLoss">WeightLoss</a>
                    </li>
                    <li>
                        <a href="/casual" class="nav-link" data-text="Casual">Casual</a>
                    </li>
                    <li>
                        <a href="/athlete" class="nav-link" data-text="Athlete">Athlete</a>
                    </li>
                    <li>
                        <a href="/addJuice" class="nav-link status" data-text="Add">Add</a>
                    </li>
                    <li>
                        <a href="/login" class="nav-link " data-text="Add">Login</a>
                    </li>
                </ul>
            </nav>
        
        </div>


        <div class="addFormWrapper">
            <section class="section-4" id="contact">
               
                
                <div class="contact-wrapper">
                    
                    <h1>Load into DataBase</h1>
                    <form class="contact-form" action="/addToDatabase" method="POST" >
                        <input type="text" name="name" id="name" placeholder="name">
                        <input type="text" name="mainContent" id="mainContent" placeholder="main content">
                        <input type="text" name="category" id="category" placeholder="category">
                        <input type="text" name="imageUrl" id="imageUrl" placeholder="imageUrL">
                        <textarea name="description" id="description" placeholder="description"></textarea>
                        <textarea name="content" id="content" placeholder="content"></textarea>
                        <textarea name="benefit" id="benefit" placeholder="benefit"></textarea>

                        <input type="submit" value="Load to DataBase">
                    </form>
                </div>
            </section>

        </div>

    </div>

      

    

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="/js/juice.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <script src="/js/tilt.js"></script>
</body>
</html>