<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="../../public/css/stylePages.css">
        <link rel="stylesheet" href="../../public/css/juiceContent.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
        <title>Casual page</title>
    </head>
<body class="casualBody">
    
    <div class="container">        

        <div class="change nav-wrapper">
        
            <nav class="top-nav">
                <ul class="nav-list">
                    <li>
                        <a href="#" class="nav-link" data-text="Home">Home</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link " data-text="Health">Health</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" data-text="WeightLoss">WeightLoss</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link status" data-text="Casual">Casual</a>
                    </li>
                    <li>
                        <a href="#" class="nav-link" data-text="Athlete">Athlete</a>
                    </li>
                </ul>
            </nav>
        
        </div>

        <div class="juiceDisplay">
            <section class="team">
                <div class="section-header">
                  <h1 class="section-heading">Health Juices</h1>
                  <div class="underline"></div>
                </div>
                <div class="cards-wrapper">
                  <div class="card" data-tilt>
                    <div class="card-img-wrapper">
                      <img src="https://bn1301files.storage.live.com/y4m_TN4xDuEU2z55bNfT8ekJg9iAbBrmli_38eJFrGdyjQVDtDEi3HmkZeOmMaWIlDeXUnC499LQq2uFN1b0ctxRrKb4jeDmd3lhTvirvJ5OhYu1SRLfWacL4IKTMEhCzcuVRzl_o1teppG-v9UWqOejweMKWATkUigVbtswqd6PdRh9YVH7aZzebPZ90rwvLjP?width=2592&height=3872&cropmode=none" alt="CEO" />
                    </div>
                    <div class="card-info">
                      <h2>Orange Juice</h2>
                      <h3>High in Vitamin C</h3>
                      <p>
                        Orange juice is a liquid extract of the orange tree fruit, produced by squeezing or reaming oranges.
                      </p>
                      <button>Read More</button>
                    </div>
                  </div>
                  <div class="card" data-tilt>
                    <div class="card-img-wrapper">
                      <img src="https://bn1301files.storage.live.com/y4mM3vPLH_Q4ZcyMZa1GOTdDRqYl-_k6eOBTwVkfeHfA3BAh2IzlteWFHhEKEyXcjMJ7Cr1EAJ-9rOS041vRwy5Xup4tFW9E_BnK1D0AiyiGRj8VJJHjGsOxMgaPY9V3pIf2wFJsCxC19F84bbQAVyBZACpYCpu3x0oVfGFN6Lbh_AcjAL6pDesk1s5tR_u7Eaq?width=4295&height=2797&cropmode=none" alt="Designer" />
                    </div>
                    <div class="card-info">
                      <h2>Beet Juice</h2>
                      <h3>High in B12</h3>
                      <p>
                        Naturally sweet beet juice recipe with fresh lemon plus soothing ginger and cucumber
                      </p>
                      <button>Read More</button>
                    </div>
                  </div>
                  <div class="card" data-tilt>
                    <div class="card-img-wrapper">
                      <img src="https://bn1301files.storage.live.com/y4mD60i5Xi7C3F3MNFVGLOu3tjIJlNjiOkQD9Np7xaRPHzvQyb9aDFX_xBiOi4J03pEp-JhPAZ2ZW65vuRGWkw8_MFOmzzXpNxnWVeURWLlDTHVcq09uLVxC4v7xwQPvL3H8nRTs34Gx8icNEyWLoAGdOV7AruNTKRnfByx64ph8MxkN60fAj4siSzi4vfplPOk?width=3456&height=5038&cropmode=none" alt="Architect" />
                    </div>
                    <div class="card-info">
                      <h2>spinach Juice</h2>
                      <h3>High in Folate</h3>
                      <p>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Asperiores, impedit!"
                      </p>
                      <button>Read More</button>
                    </div>
                  </div>
                  <div class="card" data-tilt>
                    <div class="card-img-wrapper">
                      <img src="https://bn1301files.storage.live.com/y4m42RmLtGbzZEsB0ADVFQVUV2FI1mYgpwRar5Nqz7UUFeZk-4uV91aRI25FXzkP3EMuGEpSXZic0KtIGFJe5szkaIeWdDvCNRkcDbFm2D1q-VmeVEzhbwJQEME0vqzfk8axo2BfNpgE4JlBX0aShr1PTCigJcCW30K1HP8erWA8MdGIMrGKeek4iVb_UQSjBHr?width=2592&height=3888&cropmode=none" alt="Architect" />
                    </div>
                    <div class="card-info">
                      <h2>straw berry</h2>
                      <h3>High in Vitamin C</h3>
                      <p>
                        "Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Asperiores, impedit!"
                      </p>
                      <button>Read More</button>
                    </div>
                  </div>
                </div>
              </section>

        </div>

        


        


        



    </div>

    

    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="../../public/js/juice.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
  ></script>
  <script src="../../public/js/tilt.js"></script>
</body>
</html>